# Build folders
build/
_build/

# Dependency folders
deps/
_deps/

# Source Distributions
*.tar.gz

# Project configuration folders
.vscode/
.idea/
.vs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Text Files
*.txt

# caches
.cache/*

# MacOS stores
**/.DS_Store

# Linter
.clangd

# CMake
!CMakeLists.txt
cmake-build-*/
CMakeLists.txt.user
CMakeUserPresets.json

# Misc.
prefix/
compile_commands.json
Testing/**
